In [ ]:
print("Hello there")

width = 10
height = 20
size = width * height

In [ ]:
print(size)

In [ ]:
isValid = False
isComplete = False

if(isValid == True and isComplete == True):
   print("It is True!")
   print("This will also be executed as part of the True block")
   print("This too")
else:
   print("It is False!!!")
   print("This will also be executed as part of the False block")
   print("This as well")

In [ ]:
print(True and False)

In [ ]:
isValid = False
isComplete = False

if(isValid == False or isComplete == False):
   print("It is True!")
   print("This will also be executed as part of the True block")
   print("This too")
else:
   print("It is False!!!")
   print("This will also be executed as part of the False block")
   print("This as well")

In [ ]:
isValid = False
isComplete = False

if(isValid or isComplete):
   print("It is True!")
   print("This will also be executed as part of the True block")
   print("This too")
else:
   print("It is False!!!")
   print("This will also be executed as part of the False block")
   print("This as well")

In [ ]:
isValid = True
isComplete = False

if(isValid):
    print("isValid is True")
else:
    print("isValid is False")
    
if(not isComplete):
    print("isComplete is False")
else:
    print("isComplete is True")

In [ ]:
isComplete

In [ ]:
status = "Rejected"

# some code here.

if(status == "New"):
    print("This is a new document.")
elif(status == "In Progress"):
    print("Document is WIP.")
elif(status == "In Review"):
    print("Document is being reviewed")
elif(status == "Approved"):
    print("Document is approved")
elif(status == "Rejected"):
    print("Document is rejected")
else:
    print("Invalid Status!!!")

In [ ]:
print(type(1))

In [ ]:
print(type(2.5))

In [ ]:
print(type("Hello"))

In [ ]:
print(type(complex(5,2)))

In [ ]:
print( "Hello")

In [ ]:
print = "Hello"

In [ ]:
name = "John"
age = 25
height = 165.5

print(type(name))
print(type(age))
print(type(height))

In [ ]:
a,b,c = "How", "Are", "You"
print(a,b,c)

In [ ]:
d = a+b+c    # concatenation.
print(d)

In [ ]:
print(type(d))

In [ ]:
# while loop
counter = 1  # initialize.
while(counter <= 10):
    print("Counter = ", counter)
    counter = counter + 1   # increment by 1.
    #counter += 1

In [ ]:
while(True):
    print("Enter a number: ")
    number = int(input())
    if(number == 0):
        break
        
    # Use the modulo operator to determine if the number is divisible by 2 (an even number).
    if(number % 2 == 0):
        print("The number is an even number: ", number)
        continue
        
    print("You entered the odd number: ", number)
    
print("This is after the 'while' loop")

In [1]:
for n in range(5,15):
    print("n = ", n)

n =  5
n =  6
n =  7
n =  8
n =  9
n =  10
n =  11
n =  12
n =  13
n =  14

In [2]:
x,y = 2,3
print(x)
print(y)

2
3

In [3]:
x

2

In [4]:
y

3

In [5]:
x,y = y,x   # swap the numbers.
print(x)
print(y)

3
2

In [6]:
x

3

In [7]:
y

2

In [8]:
a = b = c= d = 25

In [9]:
print(a)
print(b)
print(c)
print(d)

25
25
25
25

In [20]:
def abc(x, y):
    print("Parameters x, y have values: ", x, y)
    
abc(10, 50)

Parameters x, y have values:  10 50

In [21]:
def add(x, y):
    print("Parameters x, y have values: ", x, y)    
    z = x + y
    return z
    
#result = add(10, 50)
#print("result = ", result)
print(add(10,50))
print(add(2,5))

Parameters x, y have values:  10 50
60
Parameters x, y have values:  2 5
7

In [15]:
print(10+50)

60

In [26]:
def fullname(firstname, lastname):
    return lastname + ", " + firstname

print(fullname("Ajay", "Singala"))
print(fullname("John", "Smith"))
print(fullname("hello", "there"))

#print(fullname(10,20))   # error.

Singala, Ajay
Smith, John
there, hello

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
person = ('John', 32, 123.45)
print(person)

('John', 32, 123.45)

In [31]:
print(person[0])
print(person[1])
print(person[2])

John
32
123.45

In [37]:
person2 = ('John', 32, 123.45, ('555-1234', '555-6789'))

In [40]:
print(person2[0])
print(person2[1])
print(person2[2])
print(person2[3])
print(person2[3][0])
print(person2[3][1])

John
32
123.45
('555-1234', '555-6789')
555-1234
555-6789

In [43]:
print(person2[-1])
print(person2[-2])
print(person2[-3])
print(person2[-4])

print(person2[-1][-1])

('555-1234', '555-6789')
123.45
32
John
555-6789

In [46]:
people = (
('John', 32, 123.45, ('555-1234', '555-6789')), 
('Mary', 33, 456.78, ('555-3324', '555-8889')),
('Joe', 28, 185.78, ('555-1324', '555-0889'))
)

print(people)

(('John', 32, 123.45, ('555-1234', '555-6789')), ('Mary', 33, 456.78, ('555-3324', '555-8889')), ('Joe', 28, 185.78, ('555-1324', '555-0889')))

In [49]:
print(people[0])
print(people[0][0])
print(people[0][3])
print(people[0][3][0])

('John', 32, 123.45, ('555-1234', '555-6789'))
John
('555-1234', '555-6789')
555-1234