In [ ]:
print("Hello there")

width = 10
height = 20
size = width * height

In [ ]:
print(size)

In [ ]:
isValid = False
isComplete = False

if(isValid == True and isComplete == True):
   print("It is True!")
   print("This will also be executed as part of the True block")
   print("This too")
else:
   print("It is False!!!")
   print("This will also be executed as part of the False block")
   print("This as well")

In [ ]:
print(True and False)

In [ ]:
isValid = False
isComplete = False

if(isValid == False or isComplete == False):
   print("It is True!")
   print("This will also be executed as part of the True block")
   print("This too")
else:
   print("It is False!!!")
   print("This will also be executed as part of the False block")
   print("This as well")

In [ ]:
isValid = False
isComplete = False

if(isValid or isComplete):
   print("It is True!")
   print("This will also be executed as part of the True block")
   print("This too")
else:
   print("It is False!!!")
   print("This will also be executed as part of the False block")
   print("This as well")

In [ ]:
isValid = True
isComplete = False

if(isValid):
    print("isValid is True")
else:
    print("isValid is False")
    
if(not isComplete):
    print("isComplete is False")
else:
    print("isComplete is True")

In [ ]:
isComplete

In [ ]:
status = "Rejected"

# some code here.

if(status == "New"):
    print("This is a new document.")
elif(status == "In Progress"):
    print("Document is WIP.")
elif(status == "In Review"):
    print("Document is being reviewed")
elif(status == "Approved"):
    print("Document is approved")
elif(status == "Rejected"):
    print("Document is rejected")
else:
    print("Invalid Status!!!")

In [ ]:
print(type(1))

In [ ]:
print(type(2.5))

In [ ]:
print(type("Hello"))

In [ ]:
print(type(complex(5,2)))

In [ ]:
print( "Hello")

In [ ]:
print = "Hello"

In [ ]:
name = "John"
age = 25
height = 165.5

print(type(name))
print(type(age))
print(type(height))

In [ ]:
a,b,c = "How", "Are", "You"
print(a,b,c)

In [ ]:
d = a+b+c    # concatenation.
print(d)

In [ ]:
print(type(d))

In [ ]:
# while loop
counter = 1  # initialize.
while(counter <= 10):
    print("Counter = ", counter)
    counter = counter + 1   # increment by 1.
    #counter += 1

In [ ]:
while(True):
    print("Enter a number: ")
    number = int(input())
    if(number == 0):
        break
        
    # Use the modulo operator to determine if the number is divisible by 2 (an even number).
    if(number % 2 == 0):
        print("The number is an even number: ", number)
        continue
        
    print("You entered the odd number: ", number)
    
print("This is after the 'while' loop")

In [ ]:
for n in range(5,15):
    print("n = ", n)

In [ ]:
x,y = 2,3
print(x)
print(y)

In [ ]:
x

In [ ]:
y

In [ ]:
x,y = y,x   # swap the numbers.
print(x)
print(y)

In [ ]:
x

In [ ]:
y

In [ ]:
a = b = c= d = 25

In [ ]:
print(a)
print(b)
print(c)
print(d)

In [ ]:
def abc(x, y):
    print("Parameters x, y have values: ", x, y)
    
abc(10, 50)

In [ ]:
def add(x, y):
    print("Parameters x, y have values: ", x, y)    
    z = x + y
    return z
    
#result = add(10, 50)
#print("result = ", result)
print(add(10,50))
print(add(2,5))

In [ ]:
print(10+50)

In [ ]:
def fullname(firstname, lastname):
    return lastname + ", " + firstname

print(fullname("Ajay", "Singala"))
print(fullname("John", "Smith"))
print(fullname("hello", "there"))

#print(fullname(10,20))   # error.

In [ ]:
person = ('John', 32, 123.45)
print(person)

In [ ]:
print(person[0])
print(person[1])
print(person[2])

In [ ]:
person2 = ('John', 32, 123.45, ('555-1234', '555-6789'))

In [ ]:
print(person2[0])
print(person2[1])
print(person2[2])
print(person2[3])
print(person2[3][0])
print(person2[3][1])

In [ ]:
print(person2[-1])
print(person2[-2])
print(person2[-3])
print(person2[-4])

print(person2[-1][-1])

In [ ]:
people = (
('John', 32, 123.45, ('555-1234', '555-6789')), 
('Mary', 33, 456.78, ('555-3324', '555-8889')),
('Joe', 28, 185.78, ('555-1324', '555-0889'))
)

print(people)

In [ ]:
print(people[0])
print(people[0][0])
print(people[0][3])
print(people[0][3][0])

In [ ]:
f = 10
print(f)

f = 'This is a string'
print(f)

f = (10, 20, 'Hello')
print(f)

In [ ]:
print("hello" + "there")

name = "ajay"
num = 99

#print(name + num)

print(name + str(num))

In [6]:
num = 100
print("BEGIN: ", num)

def someF():
    #print("BEFORE: ", num)
    # some processing.
    num = 200
    print("AFTER: ", num)
    
    
someF()
print("END: ", num)

BEGIN:  100
AFTER:  200
END:  100

In [7]:
num = 100
print("BEGIN: ", num)

def someF():
    global num
    #print("BEFORE: ", num)
    # some processing.
    num = 200
    print("AFTER: ", num)
    
    
someF()
print("END: ", num)

BEGIN:  100
AFTER:  200
END:  200

In [8]:
n = 10
m = 20
if(n != m):
    print("not equal")

not equal

In [10]:
isValid = False
if(isValid != True):
    print("isValid is False")
    
if(not isValid):
    print("isValid is False")

isValid is False
isValid is False

In [12]:
x = 10
print(x)
x += 2
print(x)

10
12

In [13]:
x**2

144

In [16]:
a = 2
b = 2
print(a is b)

True

In [17]:
print( a is not b)

False

In [19]:
a = [1,2,3,4]
print(3 in a)
print(5 not in a)

True
True

In [20]:
import random

for i in range(5):
    x = random.random()
    print(x)

0.19366975216740678
0.4071206102757551
0.5337664678708223
0.0730083989185627
0.6697031855390702

In [21]:
random.randint(5,10)

8

In [24]:
random.randint(25,100)

57

In [33]:
numbers = [1,2,5,8,9,21,30]
random.choice(numbers)

1

In [35]:
import math
print(math.pi)
print(math.sqrt(16))

3.141592653589793
4.0

In [40]:
name = "Ajay Singala"
print(name[0])
print(name[5])
print(len(name))
print(name[-2])
print(name[1:8])

A
S
12
l
jay Sin

In [41]:
print(name.upper())
print(name.lower())

AJAY SINGALA
ajay singala

In [49]:
print("Ajay".isalpha())
print(name.isalpha())
print(name.isdigit())

x = "100"
print(x.isdigit())

emptyString = "   "
print(emptyString.isspace())

True
False
False
True
True

In [55]:
print(name.startswith("John"))
print(name)
print(name.find("ing"))
print(x.replace("10", "20"))

False
Ajay Singala
6
200

In [57]:
string = "This is a string used for testing the split() function."
print(string.split(" "))

['This', 'is', 'a', 'string', 'used', 'for', 'testing', 'the', 'split()', 'function.']

In [58]:
data = "123,Ajay,Singala,25,Boston,MA,555-1234"
print(data.split(","))

['123', 'Ajay', 'Singala', '25', 'Boston', 'MA', '555-1234']

In [66]:
name1 = ","
name2 = "JohnSmith"

name3 = name1.join(name2)
print(name3)

names = ["John Smith", "Mary Jane", "Joe Picard"]

name3 = name1.join(names)
print(name3)

J,o,h,n,S,m,i,t,h
John Smith,Mary Jane,Joe Picard

In [72]:
word = "Bananas"
if(word < "Banana"):
    print("Your word is less than Banana")
elif word > "Banana":
    print("Your word is greater than Banana")
else:
    print("Your word is a Banana")

Your word is greater than Banana